<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue表单绑定</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
<!--        <input type="radio" value="test" v-model="value">-->
<!--        <select v-model="value">-->
<!--            <option>A</option>-->
<!--            <option value="3">B</option>-->
<!--            <option>C</option>-->
<!--        </select>-->
        <input type="text" v-model.lazy="value">
        {{value}}
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                value: ""
            }
        })
    </script>
</body>
</html>