<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue">
        <button @click="submit">提交</button>
        <ul>
<!--            <li v-for="item in alist">{{item}}</li>-->
            <todo-list v-bind:index="index" v-bind:message="item" v-for="(item,index) in list" @remove="handleOnDelete(this)"></todo-list>
        </ul>
    </div>

    <script>
        // Vue.component("TodoList", {
        //     props: ["message"],
        //     template: "<li> {{message}}</li>"
        // })

        var TodoList = {
            props: ["message", "index"],
            template: "<li @click='handleItemClick'> {{message}}</li>",
            methods: {
                handleItemClick: function () {
                    this.$emit("remove", this.index)
                }
            }

        }

        var app = new Vue({
            el: "#app",
            components: {
                TodoList: TodoList
            },
            data: {
                list: ["苹果", "香蕉"],
                inputValue: ""
            },
            methods: {
                submit: function () {
                    this.list.push(this.inputValue)
                    this.inputValue = ""
                    // alert(this.inputValue)
                },
                handleOnDelete: function (index) {
                    this.list.splice(index, 1)
                }
            }
        })
    </script>
</body>
</html>